/*Referências externas*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css');
@font-face {
    font-family: Minercraftory;
    src: url('./Minercraftory.ttf');
}
@font-face {
    font-family: Minecraftia;
    src: url('./Minecraftia-Regular.ttf');
}

/*Variáveis*/
:root {
    --cor-escura: #14222F;
    --cor-principal: #4F5A63;
    --cor-secundaria: #8A9197;
    --cor-esbranquiçada: #C5C8CB;
    --cor-branca: #FFFFFF;
    --cor-de-fundo: var(--cor-esbranquiçada);
    --botao-primario: var(--cor-principal);
    --botao-secundario: #00000000;
    --fonte-principal: 'Poppins', sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

/*Conteúdo principal do site*/
body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    user-select: none;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--cor-branca);

    /*Barra lateral*/
    .BarraLateral {
        background-color: var(--cor-esbranquiçada);
        font-family: var(--fonte-principal);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border: none;
        transition-duration: 0.4s;
        position: relative;
        transition: all .5s;

        .BarraLateralItens {
            display: flex;
            flex-direction: row;
            gap: 4px;
            justify-content: center;

            .BarraLateralItem {
                padding: 10px;
                border-radius: 8px;
                transition-duration: 0.4s;
                cursor: pointer;
                background-color: var(--botao-secundario);
                color: var(--cor-principal);
                display: flex;
                align-items: center;
                justify-content: center;

                /* Telas grandes */
                @media (min-width: 700px) {
                    gap: 5px;
                }

                i {
                    display: flex;
                    width: 20px;
                    max-width: 20px;
                    min-width: 20px;
                    height: 20px;
                    align-items: center;
                    justify-content: center;
                }

            }
            .BarraLateralItem.ativo {
                background-color: var(--cor-principal);
                color: var(--cor-branca);
            }
            .BarraLateralItem:hover {
                background-color: var(--cor-principal);
                color: var(--cor-branca);
            }
            .BarraLateralItem.ativo:hover {
                background-color: var(--cor-escura);
                color: var(--cor-branca);
            }
        }
        
        #BarraLateralConteudo {
            padding: 12px;
            display: flex;
            flex: 1;
            justify-content: center;
        }

        .BarraLateralItemDescricao {
            width: 0px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            transition: width .6s;
            text-align: left;

            /* Telas pequenas */
            @media (min-width: 700px) {
                width: unset;
            }
        }

        #BarraLateralLogout {
            padding: 12px;

            .BarraLateralItem {
                padding: 10px;
                border-radius: 8px;
                transition-duration: 0.4s;
                cursor: pointer;
                border: none;
                background-color: var(--botao-secundario);
                color: var(--cor-secundaria);
                font-size: 16px;
                font-family: var(--fonte-principal);
            }
            .BarraLateralItem.ativo {
                background-color: var(--cor-principal);
                color: var(--cor-branca);
            }
            .BarraLateralItem:hover {
                background-color: var(--cor-principal);
                color: var(--cor-branca);
            }
            .BarraLateralItem.ativo:hover {
                background-color: var(--cor-escura);
                color: var(--cor-branca);
            }
        }

    }

    /*Corpo*/
    main {
        display: flex;
        flex: 1;
        
        h1 {
            color: var(--cor-escura);
        }

        .CorpoAba {
            display: none;
            flex: 1;

            object, embed {
                display: flex;
                flex: 1 1 auto;
                height: 100%;
                width: 100%;
            }
        }
        .CorpoAba.ativo {
            display: flex;
        }

        #CorpoAbainicio {
            flex-direction: column;
            background-color: var(--cor-branca);
            gap: 10px;
            padding: 5px;

            .AbaInicioElemento {
                display: flex;
                background-color: white;
                max-height: 400px;
                box-shadow: 0px 0px 0px 0.3px var(--cor-esbranquiçada) inset;
                border-radius: 8px;

                @media (max-width: 700px) {
                    flex-direction: column;
                    max-height: unset;
                }

                .InicialTexto {
                    width: 50%;
                    padding: 20px;
                    text-align: center;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    align-items: center;
                    gap: 10px;

                    @media (max-width: 700px) {
                        width: 100%;
                    }
                    
                    h1, h2, h3, h4, h5, h6 {
                        font-family: Minercraftory;
                    }

                    p, #text {
                        font-family: Minecraftia;
                        text-align: justify;
                    }

                    h1 {
                        @media (max-width: 700px) {
                            font-size: 20px;
                        }
                    }

                    h3 {
                        user-select: text;
                    }
                }

                img {
                    width: 50%;
                    cursor: pointer;
                    border-radius: 0px 8px 8px 0px;

                    @media (max-width: 700px) {
                        width: 100%;
                        border-radius: 0px 0px 8px 8px;
                    }
                }
            }

            .AbaInicioElemento.reverso {
                flex-direction: row-reverse;
                img {
                    border-radius: 8px 0px 0px 8px;
                }
                @media (max-width: 700px) {
                    flex-direction: column;
                    img {
                        border-radius: 0px 0px 8px 8px;
                    }
                }
            }
        }

        #CorpoAbacoordenadas {
            margin: 10px;
            gap: 10px;
            align-items: center;
            flex-direction: column;
            
            div {
                display: flex;
                flex-direction: column;
                height: 100%;
                gap: 10px;

                #DivSuperiorCoordenadas {
                    display: flex;
                    gap: 10px;
                    height: fit-content;
                    flex-direction: row;
                    overflow-wrap: anywhere;
    
                    .CoordenadasElemento {
                        background-color: var(--cor-branca);
                        padding: 10px;
                        border-radius: 10px;
                        display: flex;
                        flex-direction: column;
                        gap: 8px;
                        height: unset;
                        box-shadow: 0px 0px 0px 0.2px var(--cor-esbranquiçada) inset;
        
                        input {
                            border: none;
                            border-radius: 5px;
                            padding: 5px;
                            transition-duration: 0.4s;
                            box-shadow: 0px 0px 0px 0.2px var(--cor-esbranquiçada) inset;
                        }
                        input:hover {
                            box-shadow: 0px 0px 0px 2px var(--cor-principal) inset;
                        }
                        input[type="submit"] {
                            background-color: var(--cor-principal);
                            color: var(--cor-esbranquiçada);
                            box-shadow: none;
                            padding: 8px;
                            
                        }
                        input[type="submit"]:hover {
                            background-color: var(--cor-escura);
                            cursor: pointer;
                        }

                        p {
                            user-select: text;
                        }
                    } 
                }
    
                #DivInferiorCoordenadas {
                    height: 100%;
                    width: 100%;
    
                    object {
                        border-radius: 10px;
                    }
                }
            }
        }

    }

}

@media screen and (max-width: 767px) {
    input, select, textarea {
         font-size: 16px !important;
    }
}