/*Referências externas*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css');

/*Variáveis*/
:root {
    --cor-escura: #1d1d1c;
    --cor-principal: #323030;
    --cor-secundaria: #706e6e;
    --cor-esbranquiçada: #f4ebdf;
    --cor-branca:rgb(255, 255, 255);
    --cor-de-fundo: var(--cor-esbranquiçada);
    --botao-primario: var(--cor-principal);
    --botao-secundario: #00000000;
    --fonte-principal: 'Poppins', sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    user-select: none;
}

/*Conteúdo principal do site*/
body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    user-select: none;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--cor-branca);

    /*Cabeçalho*/
    header {
        background-color: var(--cor-secundaria);
        text-decoration: none;
        color: var(--cor-esbranquiçada);
        
        nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px 0;
            
            .Logo a{
                font-size: 30px;
                font-weight: bold;
                color: var(--cor-escura);
                margin: 0 35px;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .Lista {
                margin-right: 35px;
                display: flex;
                align-items: center;
                gap: 10px;

                li {
                    font-size: 15px;
                    a {
                        color: var(--cor-esbranquiçada);
                    }
                    form {
                        display: flex;
                    }
                }
            }

            .MenuIcone {
                display: none;
                position: relative;
                z-index: 10;
            }
            /*Responsivo */
            @media (max-width: 960px) {

                font-size: 20px;

                .Lista {
                    position: fixed;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    left: 100%;
                    transition: 0.3s;
                    flex-direction: column;
                    justify-content: center;
                    background-color: var(--cor-secundaria);

                    li {
                        margin: 20px 0;
                    }
                }

                .Lista.ativo {
                    left: 0%;
                }

                .MenuIcone {
                    display: block;
                }
            }
        }
    }

    /*Barra lateral*/
    .BarraLateral {
        background-color: var(--cor-esbranquiçada);
        font-family: var(--fonte-principal);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border: none;
        transition-duration: 0.4s;
        position: relative;
        transition: all .5s;

        .BarraLateralItens {
            display: flex;
            flex-direction: row;
            gap: 4px;
            justify-content: center;

            .BarraLateralItem {
                padding: 10px;
                border-radius: 8px;
                transition-duration: 0.4s;
                cursor: pointer;
                background-color: var(--botao-secundario);
                color: var(--cor-secundaria);
                display: flex;
                align-items: center;
                justify-content: center;

                /* Telas grandes */
                @media (min-width: 700px) {
                    gap: 5px;
                }

                i {
                    display: flex;
                    width: 20px;
                    max-width: 20px;
                    min-width: 20px;
                    height: 20px;
                    align-items: center;
                    justify-content: center;
                }

            }
            .BarraLateralItem.ativo {
                background-color: var(--cor-secundaria);
                color: var(--cor-branca);
            }
            .BarraLateralItem:hover {
                background-color: var(--cor-secundaria);
                color: var(--cor-branca);
            }
            .BarraLateralItem.ativo:hover {
                background-color: var(--cor-principal);
                color: var(--cor-branca);
            }
        }
        
        #BarraLateralConteudo {
            padding: 12px;
            display: flex;
            flex: 1;
            justify-content: center;
        }

        .BarraLateralItemDescricao {
            width: 0px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            transition: width .6s;
            text-align: left;

            /* Telas pequenas */
            @media (min-width: 700px) {
                width: unset;
            }
        }

        #BarraLateralLogout {
            padding: 12px;

            .BarraLateralItem {
                padding: 10px;
                border-radius: 8px;
                transition-duration: 0.4s;
                cursor: pointer;
                border: none;
                background-color: var(--botao-secundario);
                color: var(--cor-secundaria);
                font-size: 16px;
                font-family: var(--fonte-principal);
            }
            .BarraLateralItem.ativo {
                background-color: var(--cor-secundaria);
                color: var(--cor-branca);
            }
            .BarraLateralItem:hover {
                background-color: var(--cor-secundaria);
                color: var(--cor-branca);
            }
            .BarraLateralItem.ativo:hover {
                background-color: var(--cor-principal);
                color: var(--cor-branca);
            }
        }

    }

    /*Corpo*/
    main {
        display: flex;
        flex: 1;
        
        h1 {
            color: var(--cor-escura);
        }

        .CorpoAba {
            display: none;
            flex: 1;

            object, embed {
                display: flex;
                flex: 1 1 auto;
                height: 100%;
                width: 100%;
            }
        }
        .CorpoAba.ativo {
            display: flex;
        }

        #CorpoAbainicio {
            flex-direction: column;
            margin: 10px;
        }

        #CorpoAbacoordenadas {
            margin: 10px;
            justify-content: center;
            
            div {
                display: flex;
                gap: 10px;
                height: fit-content;

                .CoordenadasElemento {
                    background-color: var(--cor-esbranquiçada);
                    padding: 10px;
                    border-radius: 10px;
                    user-select: text;
                    display: flex;
                    flex-direction: column;
                    gap: 8px;
                    height: unset;
    
                    input {
                        border: none;
                        border-radius: 5px;
                        padding: 5px;
                        transition-duration: 0.4s;
                    }
                    input:hover {
                        box-shadow: 0px 0px 0px 2px var(--cor-principal) inset;
                    }
                    input[type="submit"] {
                        background-color: var(--cor-principal);
                        color: var(--cor-esbranquiçada);
                        box-shadow: none;
                        padding: 8px;
                        
                    }
                    input[type="submit"]:hover {
                        background-color: var(--cor-escura);
                        cursor: pointer;
                    }
                } 
            }
        }

    }

}